@import "@webtui/css/base.css";
/* Utils */
@import "@webtui/css/utils/box.css";
/* Components */
@import "@webtui/css/components/typography.css";
@import "@webtui/css/components/input.css";
@import "@webtui/css/components/checkbox.css";

:root {
  --primary0: #ff3399;
  --primary1: #ff0080;
  --primary2: #ff0065;

  --secondary0: #00cecb;
  --secondary1: #00c2bc;
  --secondary2: #00b4ac;

  --text-primary: #ffffff;
}

@layer base, utils, components;

@layer base {
  :root {
    /* Default background color */
    --background0: #0f172a; /* slate-900 */
    --background1: #1e293b; /* slate-800 */
    --background2: #334155; /* slate-700 */
    --background3: #475569; /* slate-600 */

    /* Default foreground color */
    --foreground0: #cbd5e1; /* slate-300 */
    --foreground1: #9ca3af; /* slate-400 */
    --foreground2: #6b7280; /* slate-500 */

    /* Border colors for various components/utils */
    --box-border-color: var(--foreground0);
    --table-border-color: var(--foreground0);
    --separator-color: var(--foreground0);

    --font-family: var(--jb-mono), monospace;
    --font-mono: var(--cascadia-mono), monospace;
  }
}

@import "tailwindcss";

h1 {
  font-family: var(--space-mono);
  font-weight: 700;
}

pre {
  font-family: var(--font-mono);
}

/* Hide the spin buttons in number inputs */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}
